/*body*/
.container {
    max-width: 992px;
    margin: 0 auto;
}

/*header*/
#top {
    flex-direction: column;
    margin-bottom: 36px;
}

#top .navigation li {
    text-align: center;
    width: 100%;
}

#top nav a {
    width: 100%;
    padding: 16px 0;
    border-bottom: 3px solid var(--color-background);
}

#top .navigation a:hover {
    border-bottom: 3px solid var(--color-main);
    border-top: none;
}

nav {
    width: 100%;
}


.logo_booki {
    margin-bottom: 36px;
}

.titre {
    padding: 0 20px;
    margin-top: 100px;
    font-size: 14px;
}

.search {
    padding: 0 20px;
}

/* filtres*/
.liste_filtre {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 28px 20px;
    margin: unset;
}

.filtres {
    margin: unset;
}

/*info*/
.info {
    padding: 20px 20px;
}

/* section cards */
.block_cards {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
}

.cards {
    justify-content: space-around;
}

/* section populaires*/
#block_populaires {
    width: auto;
}

.titre_populaires {
    gap: 16px;
    min-width: 324px;
}

/*section activites*/
.cards_activites {
    height: 50vh;
}

.cards_activites_container {
    height: unset;
    width: 88%;
    padding-left: 48px;
    gap: 42px;

}

.cards_activites_card_container {
    width: 100%;
}

/*footer*/
#base_footer {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    gap: unset;
}

.footer_texte {
    padding: 0 12px;
}